---
import Layout from "../layouts/Layout.astro";
import MapWidget from "../components/MapWidget";
---

<Layout title="Map">
    <div class="map-page">
        <MapWidget client:load />
    </div>
</Layout>

<style>
    .map-page {
        position: fixed;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
</style>
