---
import Layout from "../layouts/Layout.astro";
import Calculator from "../components/Calculator";
import PaceVdotTabs from "../components/PaceVdotTabs";
import { getRunningData } from "../lib/data/getRunningData";

const { paceData, vdotData } = await getRunningData();
---

<Layout title="Pace">
    <div class="p-8">
        <Calculator client:load paceData={paceData} vdotData={vdotData} />
    </div>
    <PaceVdotTabs client:load paceData={paceData} vdotData={vdotData} />
</Layout>
