---
const pathname = Astro.url.pathname;
const currentPath = pathname === "/" ? "/" : pathname.replace(/\/$/, "");

const isActive = (href: string) =>
    currentPath === href || (href !== "/" && currentPath.startsWith(`${href}/`));
---

<nav class="navbar">
    <ul class="flex justify-center bangers-regular text-3xl">
        <li class:list={["navbar-item", { active: isActive("/pace") }]}>
            <a href="/pace">Pace</a>
        </li>
        <li class:list={["navbar-item", { active: isActive("/map") }]}>
            <a href="/map">Map</a>
        </li>
    </ul>
</nav>

<style>
    .navbar-item {
        @apply grow text-center;
        border: 2px solid transparent;
        border-color: black;
    }

    .navbar-item > a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 0;
    }

    .navbar-item:hover:not(.active) {
        cursor: pointer;
    }

    .navbar-item.active {
        background: #000000;
        color: #ffffff;
    }
</style>
